* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root { 
    --primary-color : #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

html, body{ 
    height: 100%;
}

body{ 
    display: flex;
    flex-direction: column;
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    margin: 0;
    height: 100%;
    background-image: url("../img/vecteezy_abstract-white-background-with-wavy-shapes-flowing-and_36340712_591/vecteezy_abstract-white-background-with-wavy-shapes-flowing-and_36340712.jpg");
}

a{ 
    text-decoration: none;
    color: #333;
}

ul{ 
    list-style: none; 
}

img{ 
    max-width: 100px;
    image-rendering: auto;
}

/* Navigation Bar */
.navbar{ 
    height: 80px;
    /*background-image: url("../img/animation.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    background-position: center;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul{ 
    display: flex; 
}

.navbar ul li a { 
    padding: 10px 20px;
    display: block;
    overflow: hidden;
    font-weight: 600;
    transition: 0.5s;
    font-size: 1.1rem;
}

.navbar ul li a:hover{
    color: var(--primary-color);
} 

/*Bottom Nav*/ 
.bottom_nav{ 
    position: relative;
    bottom: 0;
    width: 100%;
    background-image: none;
}

.bottom_nav .container{ 
    justify-content:space-around;
}

/*Contact Form*/

.contact-form {
    padding: 10px 10px;
}
.contact-form .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input{ 
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

/*About Me*/
.about-me { 
    padding: 10px;
    height: 100%;
}

.about-me .container{ 
    display: flex;
    height: 100%;
    width: auto;
    padding: 10px;
}


.about-me-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subsection img {
    flex: 1;
    border: 2px solid black;
    max-width: 200px;
    margin-right: 10px;
    
}

.subsection.text {
    flex: 2;
    padding-left: 20px;
}

/*Resume Page*/ 
.resume{ 
    display: flex;
}

.resume h2 {
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
}

.resume .unit-title{ 
    font-size: 1.25rem;
    font-weight: 600;
    transition: 2s;
    
}

.resume a:hover{ 
    color: var(--primary-color);
    text-decoration-line: underline;
}


.date{ 
    font-size: .9rem;
    color: #777;
    font-style: italic; 
    float: right;
}

.citystate{
    font-size: .9rem;
    color: #777;
    font-style: italic;
    float: right;
}


.location{ 
    font-style: italic;
    font-weight: 350;
    font-size: 1.09rem;
}

.resume hr{ 
    margin-top: 2px;
    margin-bottom: 10px;
    color: #333;
}

.resume ul {
    margin-top: 10px;
    padding-left: 50px;
    list-style-position: outside;
}

.resume ul li {
    list-style-type: circle;
}

.resume .subsection-title{ 
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 500;

}

.description{ 
    font-size: .9rem;
}

.skill-description{ 
    float: right;
}

/* Utility Classes*/
.container{ 
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Portfolio Classes*/ 
.portfolio-section {
    padding: 50px 0;
    height: 100%;
}

.portfolio-section a{ 
    color: var(--primary-color);
    font-weight: bold;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.portfolio-item {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-5px);
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item h3 {
    font-size: 1.2em;
    margin-top: 10px;
}

.portfolio-item p {
    color: #666;
    font-size: 0.9em;
    margin: 5px 0;
}

.portfolio-item .long-description {
    display: none;
    font-size: 0.85em;
}

.portfolio-item:hover .long-description {
    display: block;
}

.tag-filter-container {
    display: flex;
    align-items: center;
}

.tag-filter-label, .tag-filter-dropdown {
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
}

.tag-filter-label {
    margin-right: 10px;
    margin-bottom: 20px;
}

/* Dropdown styling */
.tag-filter-dropdown {
    margin-bottom: 20px;
}

/* Button Classes*/
/* Base button styles */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background-color: var(--btn-background-color,#333);
    color: var(--btn-text-color,var(--light-color));
    /* Default fallback */
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
    /* Adjusted transition duration for a more realistic hover effect */
}

/* Hover effect */
.btn:hover {
    opacity: 0.8;
}

/* Primary button style */
.btn-primary {
    background-color: var(--primary-color);
    color: white;
}


/* Block button style */
.btn-block {
    display: block;
    width: 100%;
}


/* Text Classes*/
.text-xxl{ 
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{ 
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 10px;
}

.text-mds {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-xsm {
    font-size: 0.6rem;
    font-style: italic;
    line-height: 1.4;
    font-weight: normal;
    margin: 5 0 5px;
}

.text-center{ 
    text-align: center;
}

.text-link{ 
    text-decoration: underline;
    color: var(--primary-color);
}

.text-bold{ 
    font-weight: bold;
}